/*-- scss:functions --*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&family=Raleway&display=swap');

/*-- scss:defaults --*/
$green:                                   #3cf297f2 !default;
$orange:                                  #f1ba33 !default;
$blue:                                    #3ceef2f2 !default;
$body-color:                              $green !default;
$body-bg:                                 #000000 !default;
$link-color:                              $body-color !default;
$headings-color:                          $orange !default;
$link-color:                              #3ceef2;

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  $orange:                                   #f1ba33 !default;
  $color:                                    $orange !default;
  font-family: 'Jura', serif;
  margin-bottom: 0.5em;
  
  
  text-shadow: 0 0 1px rgb(251 117 50 / 60%), 0 0 3px rgb(251 50 127 / 69%), 0 0 0.5rem rgb(50 251 226 / 30%), 0 0 2rem rgb(85 251 50 / 2%);
}

a {
  $blue:                                      #3ceef2 !default;
  $color:                                     $blue !default;
  }

@mixin header-shadow($headings-color) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @include text-shadow($headings-color);
  }
}

